main{
    max-width: 1160px;
    margin: 0 auto;
}
.hero-section{
    margin-top: 156px;
    gap: 126px;
}
.left-hero{
    padding-top:157px ;
}
.left-hero span{
    font-size: 16px;
    font-weight: 300;
}
.left-hero h1{
    font-family: 'International', sans-serif;
    font-size: 48px;
    font-weight: 300;
}
.left-hero p{
    font-family: Heebo;
    font-size: 20px;
}
.right-hero{
    gap: 25px;
}
 
.right-hero .cards>p{
    text-align: center;
    font-family: 'Quentin', sans-serif;
    font-size: 33px;
    margin: 0px;
}
.about-section h2{
    font-family: 'International', sans-serif;
    font-size: 52.369px;
}
.about-section .about-box{
    border: 1px solid #DEB3A8;
}
.about-box .cards{
    transform: rotate(-14.819deg);
    position: relative;
    right: 100px;
}
.about-box img{
    width: 305px;
    
}