@media only screen and (min-width:1000px){
    .w-900{
        width: 900px;
        margin: 0 auto;
    }
    .w-700{
        width: 700px;
        margin: 0 auto;
    }
    .w-960{
        width: 959px;
        margin: 0 auto;
        text-align: left;
        padding-top: 32px;
        padding-bottom: 32px;
    }
}
@media only screen and (max-width: 580px){
    .w-900, .w-700, .w-960{
        width: 100%;
    }
    .cont-img{
        display: none;
    }
    .hp-title h3, h1 {
        font-size: 16px !important;
    }
    .contactus-section .gap-32{
        gap: 0px;
    }
    .contactus-section {
        margin-top: 40px;
        margin-bottom: 64px;
        padding: 24px;
    }
    .contact-btn {
        font-size: 12px;
        padding: 12px 24px;
    }
    ::placeholder{
        font-size: 12px;
    }
    .f-gap li a{
        font-size: 10px !important;
    }
    .f-gap{
        gap: 0px !important;
    }
    .foot-top a{
        font-size: 10px;
    }
    .w-960 p {
        font-size: 12px !important;
        text-align: left;
    }
    .menu-sections{
        margin: 16px 0px;
        padding: 24px;
    }
    .menu_sec{
        padding: 24px;
        margin-top: 32px;
        margin-bottom: 32px;
    }
    .menu-txt h2{
        font-size: 14px !important;
    }
    .menu-txt ul li {
        font-size: 12px !important;
    }
    .menu-section {
        border: 0.924px solid #D6CCC9;
        width: 100% !important;
        overflow-x: scroll;
        margin: 0 auto;
        padding: 0px 16px !important;
    }
    .menu-section .d-flex{
        width: 1000px !important; 
    }
    .about-content p{
        font-size: 12px;
    }
    .about-container{
        display: flex;
        flex-direction: column;
    }
    .about-container .cards {
        transform: rotate(0deg) !important;
        position: relative;
        right: 0px !important;
        height: 300px;
        margin: 0 auto !important;
    }
    .q-title {
        font-size: 24px;
    }
    .ab-mt h1{
        margin-top: 80px !important;
    }
}